<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="width: 100%;height: 100%;margin: 0;padding: 0;">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Registo de operador de mobilidade</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;700&display=swap" rel="stylesheet" type="text/css">
        <style>
            @media (max-width: 728px) {
                footer .section {
                    align-items: center !important;
                }
                footer .section:not(:first-child) {
                    border-left: none !important;
                }
            }
        </style>
    </head>
    <body style="width: 100%; height: 100%; margin: 0; padding: 0; min-height: 100%; display: flex; flex-direction: column; align-items: stretch; font-family: 'Montserrat', sans-serif; font-style: normal; font-size: 16px; line-height: 20px;color: #393839;">
        <img src="cid:background" style="position: absolute; width: 100%; height: 85%; top: 0; left: 0; opacity: 1;"/>
        <div class="content" style="display: flex;align-items: center;justify-content: center;flex-grow: 1;">
            <div class="card" style="background: #FFFFFF;box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);border-radius: 17px;width: 596px;padding: 2rem;">
                <header><h6 style="font-size: 18px;font-weight: bold;margin-block-start: 0;margin-block-end: 0;">Caro Parceiro,</h6></header>
                <p>Em primeiro lugar, e em nome de todos os profissionais de saúde que poderão usufruir do seu serviço, muito obrigado.</p>
                <p>Agradecemos a sua disponibilidade emapoiar esta causa! De seguida, iremos verificar as informações da sua inscrição e voltaremos ao seu contacto logo que possível.</p>
                <p>Obrigado,</p>
                <p>A equipa Mobility4healthcare</p>
            </div>
        </div>
        <div style="padding: 2rem 0;background: #0A86FF;display: flex;color: white;flex-wrap: wrap;font-weight: bold;">
            <div class="section" style="flex: 1;text-align: center;display: flex;flex-direction: column;align-items: flex-end;padding: 0 1rem;">
                <div style="margin: 1rem; text-align: initial;">
                    <img src="cid:logo" style="width: 212px; height: 24px;" />
                    <h6 style="max-width: 12rem; margin: 1rem 0;margin-block-start: 0;margin-block-end: 0;font-size: 15px;font-weight: bold;line-height: 18px; margin-top: 1rem;">Siga-nos nas nossas redes sociais</h6>
                    <div class="socials" style="margin-top: 0.5rem;">
                        <a href="https://www.facebook.com/mobility.healthcare.10" style="text-decoration: none;color: inherit;font-style: normal;font-weight: 500;font-size: 15px;">
                            <img style="width: 32px;height: 32px;" src="cid:facebook" />
                        </a>
                        <a href="https://www.instagram.com/mobility4healthcare/" style="text-decoration: none;color: inherit;font-style: normal;font-weight: 500;font-size: 15px;margin-left: 0.5rem;">
                            <img style="width: 32px;height: 32px;" src="cid:instagram" />
                        </a>
                        <a href="https://twitter.com/Mobility4H" style="text-decoration: none;color: inherit;font-style: normal;font-weight: 500;font-size: 15px;margin-left: 0.5rem;">
                            <img style="width: 32px;height: 32px;" src="cid:twitter" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="section" style="flex: 1;text-align: center;display: flex;flex-direction: column;align-items: flex-start;padding: 0 1rem;border-left: 1px solid #FFFFFF;">
                <div style="text-align: initial;">
                    <h6 style="margin-block-start: 0; margin-block-end: 0; font-size: 16px;">Visite a nossa plataforma</h6>
                    <a href="http://www.mob4h.pt" target="blank" style="display: block; text-decoration: none;color: inherit;font-style: normal;font-size: 15px;font-weight: normal;">www.mob4h.pt</a>
                    <h6 style="margin-block-start: 0; margin-block-end: 0; margin-top: 1rem; font-size: 16px;">Contacte-nos:</h6>
                    <a href="maito:info@mob4h.pt" style="display: block;text-decoration: none;color: inherit;font-style: normal;font-size: 15px;font-weight: normal;">info@mob4h.pt</a>
                </div>
            </div>
        </div>
    </body>
</html>