// app global css in Sass form
body
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;

body.body--light
  background: $primary

.q-layout
  background-color: #0A86FF
  background-color: $support-background
  color: #fff

.q-toolbar
  padding: 20px 20px

.q-field__label
  top: -15px !important
  left: -10px !important
  color: $dark
  font-style: normal
  font-weight: 600
  font-size: 1.3rem
  line-height: 139.1%

.q-card__section--vert
  text-align: left

.q-field--auto-height.q-field--labeled .q-field__control-container,
.q-field--labeled .q-field__native
  padding-top: 5px

.q-field--outlined .q-field__control
  padding: 0px 7px

.q-chip
  background: $info
  color: white
  height: 34px
  padding: 0.5em 1em
  border-radius: 17px

p
  margin: 2rem 1em !important
  margin-block-start: 0
  margin-block-end: 0

h6
  font-size: 1.2rem
  font-weight: bold

.q-gutter-x-sm > *, .q-gutter-sm > *
  margin-left: 0

.q-btn-group > .q-btn-item
  padding: 0.5rem 1.0rem
  border-radius: 6px !important
  text-transform: none
  border-left: 1px solid $support-fill


.q-btn__wrapper:before
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12)

.q-card
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12)
  border-radius: 0px 0px 6px 6px

h6
  margin-block-start: 2rem
  margin-block-end: 2rem

.field-label
  font-style: normal
  font-weight: 600
  font-size: 1rem
  line-height: 139.1%
  margin-bottom: 5px

.submit
  background: $primary
  color: white
  text-transform: none
  width: 100%


.flex-centered
  display: flex
  align-items: center
  justify-content: center

.m4h-button
  padding: 0.5rem 0
  text-transform: none
  font-weight: bold
  display: block

.title
  font-family: 'Raleway', sans-serif
  font-style: normal
  font-weight: bold
  font-size: 2rem

.page
  height: 100vh
  width: 100vw

[hidden]
  display: none !important

.respect-line-breaks
  white-space: pre-line

.q-field--outlined .q-field__control:before
  border: 2px solid #DCDCDC

.text-h6
  font-weight: bold